-#  tdis file is app/views/movies/index.html.haml
<h1> FakeSSN </h1>
<%= button_to "Homepage", fakenames_path, :method => "get" %>
<table>
<thead>
 <tr>
      <th>Email</th>
      <th>SSN</th>
 </tr>
 </thead>
 <tbody> 
   <%@fakessns.each do |fakessn| %>
   <tr>
   <td><%=fakessn.emailaddress%></td>
   <td><%=fakessn.ssn%></td>
   </tr>
   <%end%>
</tbody>   
</table> 

 
 